@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html,body{
    overflow-x: hidden;
}
.wrapper{
	width:100%;
}
@font-face{
	font-family: 'anurati';
	src: url('../fonts/Anurati-Regular.otf') format("opentype");
}

.anim-typewriter {
	border-right:0.15em solid black;
	overflow:hidden;
	white-space: nowrap;
	margin : 0 auto;
	letter-spacing: 0.15em;
	animation: typewriter 2s steps(35) 2s 1 normal both, blinkTextCursor 500ms steps(18) infinite normal;
}

@keyframes typewriter {
	from {
	  width: 0;
	}
	to {
	  width: 14.5em;
	}
  }
@keyframes blinkTextCursor {
	from {
	  border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
	  border-right-color: transparent;
	}
}

.navbar-dark .navbar-nav .nav-link:hover{
	background-color: #61892f;
}

.navbar{
	margin-bottom: 5px;
	background-color:  #474B4f;
}
.content{
	display:block;
	width:100%;
	margin-top:15px;
}
.carousel{
	position: relative;
	width:100%;
	height:620px;
	top: 12vh;
}
.carousel-cell{
	position: relative;
	margin-right: 20px;
	width:100%;
	height: 100%;
  }
  .carousel-cell img{
	height:100%;
	width:100%;
	position:relative;
  }
  .carousel-cell .text
  {
	position: absolute;
	bottom: 15px;
	text-align: center;
	margin-left:50px;
	margin-right:50px;
  }
  .text p{
	color:#61892F;
	margin-left:50px;
	margin-right:50px;
	font-weight:bold;
  }
  .flickity-button {
	background: transparent;
  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
	width: 100px;
	height: 100px;
  }
  /* icon color */
  .flickity-button-icon {
	fill: #86C232;
  }
  /* hide disabled button */
  .flickity-button:disabled {
	display: none;
  }
  .flickity-button:hover {
	background: transparent;
  }
	/* dots are lines */
  .flickity-page-dots .dot {
	height: 4px;
	width: 40px;
	margin: 0;
	border-radius: 0;
	color:#86C232
  }

h1{
		font-family: anurati;
		letter-spacing: 3px;
}

body {
	font-size: 16px;
	background-color:#222629;
	color: #fff;
}

.sectionhead{
	font-family: anurati;
}

hr{
	border-bottom: 2px solid #86C232;
	padding-top: 4%;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
  }
.l1{
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	position: relative;
	width: 40em;
	margin:30vh auto;
	font-size: 35px;
	text-align: center;
	display: block;
	z-index: 5;
}
#comp{
	font-size:50px;
	font-family: 'anurati';
	position: relative;
	letter-spacing:5px;
	color:white;
	margin:20vh auto;
	text-align: center;
}

.btn.btn-black{
	background-color: black;
	float:right;
}

.btn.btn-light{
	border-radius: 5px;
	padding: 2px 20px;
	background-color: #6B6E70;
	border-color: #6B6E70;
	margin-right: 10px;
}

.btn.btn-light:hover{
	background-color: black;
	color: #61892f;
	border-color: black;
}

.fas.fa-star{
	color: #86c232;
}
.far.fa-star{
	color:white;
}

#about{
	padding-top: 200px;
}
.card{
	background-color:#61892f;
	border-left:2px solid #86C232;
	text-align: center;
	padding: 5px;
}
.card-title{
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
.card img{
	-webkit-filter: grayscale();
}

.card .btn.btn-default{
	margin-top:15px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
		position: absolute;
		top: 0;
		right: -33.3333%;  
		z-index: -1;
		display: block;
		visibility: visible;
	}

}

@media (min-width: 576px) and (max-width: 768px) {
/* Show 3rd slide on sm  if col-sm-6*/
	.carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
		position: absolute;
		top: 0;
		right: -50%;  /*change this with javascript in the future*/
		z-index: -1;
		display: block;
		visibility: visible;
	}

}
@media (min-width: 576px) {
	
	.carousel-item {
		margin-right: 0;
	}

	/* show 2 items */
	.carousel-inner .active + .carousel-item {
		display: block;
	}
	
	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
		transition: none;
	}

	.carousel-inner .carousel-item-next {
	position: relative;
	transform: translate3d(0, 0, 0);
	}
	
	/* left or forward direction */
	.active.carousel-item-left + .carousel-item-next.carousel-item-left,
	.carousel-item-next.carousel-item-left + .carousel-item,
	.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	} 
	
	/* farthest right hidden item must be abso position for animations */
	.carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	
	/* right or prev direction */
	.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
	.carousel-item-prev.carousel-item-right + .carousel-item,
	.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}

}

/*MD*/
@media (min-width: 768px) {

	/* show 3rd of 3 item slide */
.carousel-inner .active + .carousel-item + .carousel-item {
		display: block;
	}

	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
		transition: none;
	}

	
	.carousel-inner .carousel-item-next {
	position: relative;
	transform: translate3d(0, 0, 0);
	}
	
	
	/* left or forward direction */
	.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	
	/* right or prev direction */
	.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}

}


/*LG */
@media (min-width: 991px) {

	/* show 4th item */
	.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
		display: block;
	}
	
	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
		transition: none;
	}
	
	/* Show 5th slide on lg if col-lg-3 */
	.carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
		position: absolute;
		top: 0;
		right: -50%;  /*change this with javascript in the future*/
		z-index: -1;
		display: block;
		visibility: visible;
	}
	
	/* left or forward direction */
	.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	
	/* right or prev direction //t - previous slide direction last item animation fix */
	.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}

}

a{
	color: #86C232;
}

#newsletter{
	text-align: center;
	width :50%;
}


.input-group-text{
	color:white;
	background-color: #86C232;
	border:#86C232;
}

.carousel-cell .secl1{
	font-size: 3rem;
	letter-spacing: 3px;
	padding:0px;
	font-weight: bold;
	position: absolute;
	top:10vh;
	left:30%;
}

.hrl{
	width: 60px;
	margin-left: 0px;
	padding: 0px;
}

.l2{
	color: gray;
	font-size: 0.9rem;
	margin-top: 0px;
	font-weight: bold;
}

#newsletter .hrl{
	margin-left: 44%;
}


.form-control{
	background-color: black;
	border-color: black;
}

#contact .fas{
	color: #86C232;
	padding : 5px;
}

#contact .row{
	margin:0px auto;
}

#footer{
	background-color: #474B4f;
	/* length:80%; */
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 5px;
	border-top: 2px solid #86C232;
}

#socfoot{
	float: right;
}

#socfoot a{
	color:white;
	padding-left: 10px;
}
	

.btn.btn-default{
	background-color: #86C232;
	color: white;
}

.btn.btn-default:hover{
	background-color: white;
	color: #86C232;
}

#mapi{
	margin:10px auto;
	position: relative;
	background-position: center;
}

.container {
	margin-top:50px;
}


@media(max-width:660px){
	.card{
		background: #f6b319;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 10px;
		margin-top:10px;
	}
}