
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	color: #131313;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #878787;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 75px;
	text-transform: uppercase;
	font-weight:bold;
}

.section-title h2 {
	padding-top: 10px;
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 97px;
	padding-bottom: 97px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
	text-align: center;
}


/*---------------------
  Commom elements
-----------------------*/

/* buttons */
.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #131313;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: 500;
	border: none;
	background: #ffb320;
	cursor: pointer;
}

.site-btn.btn-sm {
	padding: 10px 30px;
	min-width: 163px;
}

.site-btn:hover {
	color: #131313;
}


/* Preloder */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
  Header section
---------------------*/

.header-section {
	background: #131313;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid #ffb320;
}

.site-logo {
	display: inline-block;
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 2rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}

.user-panel {
	float: right;
	font-weight: 500;
	background: #ffb320;
	padding: 8px 28px;
	border-radius: 30px;
}

.user-panel a {
	font-size: 14px;
	color: #131313;
}

.main-menu {
	float: right;
	margin-right: 70px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #ffb320;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

/*---------------------
  Front page section
-----------------------*/
.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{
    height:100%
}

.flex-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%; }
.flex-center p {
	margin: 0; }
.flex-center ul {
	text-align: center; }
.flex-center ul li {
	margin-bottom: 1rem; }
.flex-center ul li:last-of-type {
	margin-bottom: 0; }

	.collapsible-body {
		display: none; }

.view {
	position: relative;
	overflow: hidden;
	cursor: default; }
.view .mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-attachment: fixed; }
.view img, .view video {
	position: relative;
	display: block; }
@-webkit-keyframes fadeIn {
	from {
		opacity: 0; }
	to {
		opacity: 1; } }
	
@keyframes fadeIn {
	from {
		opacity: 0; }
	to {
		opacity: 1; } }
	
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn; }


.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
	width: 20px;
	height: 20px;
	}


.carousel-indicators{
	background: transparent;
	bottom:-10px;
	margin-left: 0px;
	padding:18px 0 16px;
	width: 100%;
}

.carousel .carousel-indicators a {
	cursor: pointer;
	padding: 10px 20px 0;
	width:20%;
}
.carousel-indicators a:focus{
	background:black;
}
.carousel-inner{
	width:100%;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1; }

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
	opacity: 0; }

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-prev.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0); }

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
	.carousel-fade .carousel-item-next,
	.carousel-fade .carousel-item-prev,
	.carousel-fade .carousel-item.active,
	.carousel-fade .carousel-item-left.active,
	.carousel-fade .carousel-item-prev.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); 
} }

.carousel .carousel-item {
	width: 100%;
}

.carousel .text-center {
	vertical-align: middle;
}

.carousel .text-center h1 {
	color: #fff;
	font-weight: 400;
	font-size: 60px;
	margin-bottom: 30px;
	position: relative;
	top: -80px;
}

.carousel .text-center h1 span {
	color: #ffb320;
}

.carousel .text-center p {
	color: #fff;
	margin-bottom: 30px;
	position: relative;
	position: relative;
	top: -90px;
}

.carousel .text-center .site-btn {
	position: relative;
	top: -100px;
}
.fa-star
{
	color: white;
}


/*----------------------
  Recent Game Section
------------------------*/

.recent-game-section {
	background-color: white;
	border-top: 1px solid #d6dee7;
	border-bottom: 1px solid #d6dee7;
}

.recent-game-item .rgi-content .comment {
	font-size: 12px;
	color: #737373;
}

.carousel-control-next, .carousel-control-prev { 
	border: 0; 
}

.carousel-item img{
	height: 250px;
	min-height: 250px;
	max-height: 250px;
	width:100%;
	max-width: 100%;	
}

.carousel-item h2{
	margin-top: 10px; font-size: 28px; font-weight: 400; color:black; line-height: 50px; font-style: italic;
}



/*----------------------
  Review Section
------------------------*/

.review-section {
	background-position: right top;
	background-color:#eef2f6;

}

.review-item .review-cover {
	position: relative;
	padding-bottom: 20px;
	height: 345px;
}

.review-cover img{
	width:100%;
	height:100%;
}

.review-cover button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  font-size: 16px;
  padding: 18px 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.fa-play {
	color:white;
}

.review-item .review-text {
	text-align: center;
}

.review-item .review-text h5 {
	margin-bottom: 20px;
}

.review-item .review-text p {
	margin-bottom: 30px;
}


/*----------------------
  Footer top Section
------------------------*/

.footer-top-section {
	background-image: url("../img/pattern.png");
	background-repeat: repeat;
	padding: 72px 0;
}

.footer-top-section .container {
	position: relative;
	text-align: center;
}

.input-group{
	text-align: center;
	width : 50%;
	margin: 20px auto;
}


.input-group-text{
	color:white;
	background-color: #fbb710;
	border:#86C232;
}

#end{
	position: relative;
	bottom: 0;
	margin:30px auto 0;
}

.footer-top-section a{
	color:white;
}

/*----------------------
  Footer End Section
------------------------*/

.footer-section {
	padding: 18px 0 16px;
	overflow: hidden;
	background: #252525;
}

.footer-menu {
	list-style: none;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	margin-left: 30px;
}

.copyright {
	float: left;
	margin-bottom: 0;
	font-weight: 500;
	color: #aeaeae;
}

/*------------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
	.footer-menu {
		float:right;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu {
		margin-right: 90px;
	}
	.hero-slider .owl-dots {
		max-width: 930px;
	}
	.review-section {
		background-position: right 10% top;
	}
	.review-item .review-cover {
		height: 280px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 55px;
		height: 55px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 67px;
	}
	.top-comment .tc-item .tc-content {
		padding-left: 95px;
	}
	.footer-top-bg {
		max-width: 370px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
	.footer-menu {
		float:right;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		max-width: 130px;
	}
	.main-menu {
		margin-right: 25px;
	}
	.main-menu ul li a {
		margin-left: 15px;
	}
	.user-panel {
		padding: 8px 15px;
	}
	.recent-game-item {
		margin-bottom: 42px;
	}
	.review-section {
		background-position: left top;
	}
	.review-item {
		margin-bottom: 63px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.footer-top-bg {
		display: none;
	}
	.copyright{
		display: none;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		overflow: visible;
		padding: 23px 0;
	}
	.header-section .container {
		position: relative;
	}
	.site-logo {
		float: none;
		padding-top: 0;
	}
	.main-menu {
		display: none;
		position: absolute;
		top: calc(100% + 24px);
		left: 0;
		width: 100%;
		background: #ffffff;
		z-index: 999;
	}
	.main-menu ul li {
		display: block;
		border-bottom: 1px solid #ececec;
	}
	.main-menu ul li a {
		margin-left: 0;
		color: #131313;
		padding: 13px 26px;
	}
	.nav-switch {
		color: #fff;
		display: block;
		float: right;
		cursor: pointer;
		font-size: 25px;
	}
	.user-panel {
		display: none;
	}
	.ln-title {
		padding-right: 30px;
	}
	.feature-item {
		margin-bottom: 30px;
	}
	.recent-game-item {
		margin-bottom: 42px;
	}
	.review-section {
		background-position: left top;
	}
	.review-item {
		margin-bottom: 63px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.footer-top-bg {
		display: none;
	}
	.footer-section {
		padding: 30px 0 20px;
		text-align: center;
	}
	.footer-top-section .row{
		padding-bottom:10px;
	}
	.copyright{
		display: none;
	}
	.community-post-list li {
		padding: 30px 25px 30px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
	.input-group{
		width:90%;
	}
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.feature-section {
		padding-left: 15px;
		padding-right: 15px;
	}

}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	
	.ln-title {
		display: none;
	}
	.site-btn {
		padding: 11px 30px;
		min-width: 145px;
	}
	.footer-widget {
		padding: 40px 15px 7px;
	}
	.page-info-section .pi-content h2 {
		font-size: 40px;
	}
}